<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="Labs-GZSkinsX" value="https://pkgs.dev.azure.com/Wenveo/GZSkinsX/_packaging/Labs-GZSkinsX/nuget/v3/index.json" />
    <add key="CommunityToolkit-MainLatest" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-MainLatest/nuget/v3/index.json" protocolVersion="3" />
    <add key="CommunityToolkit-Labs-Windows" value="https://pkgs.dev.azure.com/dotnet/CommunityToolkit/_packaging/CommunityToolkit-Labs/nuget/v3/index.json" />
  </packageSources>
</configuration>
